@charset "UTF-8";

body {
    background-color: rgb(220, 255, 186);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(93, 185, 0);
}
#principal {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    background-color: green;
    color: white;
}
h2 {
    color: rgb(90, 126, 55);
}
/*
em HTML é ID = em CSS é # (um elemento)
em HTML é class = em CSS é . (2 ou mais elementos)
*/
.basico {
    color: rgb(30, 255, 0);
}
.intermediario {
    color: yellow;
}
.avancado {
    color: red;
}
.destaque {
    background-color: rgba(255, 255, 80, 0.603);
}